
.budget-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 100px auto 20px;
  text-align: center;
  margin-top: -100px;
}

.label-container {
  margin-bottom: 20px;
}

.budget-chart select {
  width: 150px;
  height: 30px;
}

.charts-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.chart {
  flex: 1;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  max-width: 400px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.budget-canvas,
.budget-pie-canvas,
.budget-line-canvas {
  width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  .charts-container {
    flex-direction: row;
  }
}
.budget-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 100px auto 20px;
  text-align: center;
  margin-top: 30px; /* Adjusted margin-top value */
}
